html,button,input,select,textarea{
    color:#444;
    font-family: garamond-premier-pro, serif;
    font-style: normal;
    font-weight: 400;
   
}
html{
    font-size: 1em;
    line-height: 1.4;
    background-color: rgb(229, 235, 235);
}

#wrapper {
 margin: 0px auto;
 max-width: 900px;
 min-width: 320px;
 margin-left: auto;
 margin-right: auto;
}
 
table{
  margin:auto;
  table-layout: auto;
}

img{
    display: block;
    margin-left: auto;
    border: 2px solid black;
    width: 8cm;
    height:8cm;
    border-radius: 80%;
    border-color: bolder #000;
    }
.coordonées{
font-style: inherit;
font-size: larger;
}
       
header{
    border-radius: 20px;
    background-color:#59a9b5 ;
    box-shadow: 0 2px 4px rgba(0,0, 0, 0.2);
    
    
}

.name{
    font-family: albiona, sans-serif;
    font-style: normal;
    font-weight: 800;
}

section{
    display: block;
    border-radius: 30px;
    background-color: #e2f3f9;
    border: black solid;


}

#profil{
    display: block;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: -40px;
    background-color: #59a9b5 ;
  border: black solid;
    
}

footer{
    align-items: center;
    text-align: center;
}

#footer{
    color: #000;
    text-shadow: 1px 1px 1px #000;
    font-size: 30px;
  }

  #date{
    text-indent: 5%;
    font-weight: bolder ;
  }

  p{
    text-indent: 10%;
    font-size: larger;
  }

  li{
    font-size: larger;
  }

  .name{
    text-align: center;
  }



  #moreText1{
    display: none;
    
  }
  #moreText2{
    display: none;
    
  }

 
  .couponcode:hover .coupontooltip {
    display: block;
}

.coupontooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}

.couponcode {
    margin:10px;
}

canvas{
  max-width: 500px;
  margin: 0 auto;
  
}

#table2{
  width: 70%;
}

#section2{
  display: block;
  text-align: center;
  margin-top: -40px;
  background-color: #59a9b5;
  border: black solid;
}